
.bandeau{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%
}
.chromostyle{
   width : 40vw;
}

.header{
    margin-bottom: 1%;
}
.info{
    display: flex;
    right: 5%
}
.maps{
    display: flex;
    cursor: pointer;
}
.mail{
    cursor: pointer;
    display: flex
}
.logo{
    color : rgb(16,108,200);
    margin-right: 5%
}

.line{
    border-color:rgb(16,108,200);
    border-width: 3px;
}
.title{
    font-weight: bold
}
.description{
    color : gray
}

button.mat-button{
    font-family: Lato;
    color: grey;
    font-size: 110% !important;
    min-width: 15%;
}
.image{
    cursor: pointer;
}

.menu{
    display: flex;
    flex-wrap: wrap;
    height: 25%
}

.card{
    display: flex;
    justify-content: space-between;
    z-index: 100;
}