@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
.bandeau{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.chromostyle{
    width: calc(50vw);
}
.header{
    margin-bottom: 1%
}
.info{
    display: flex
}
.maps{
    display: flex;
    cursor: pointer;
}
.mail{
    cursor: pointer;
    display: flex
}
.logo{
    color : rgb(16,108,200);
    margin-right: 5%
}
.first_line{
    border-width: 2px
}
.second_line{
    border-color:rgb(16,108,200);
    border-width: 3px;
}
.title{
    font-weight: bold
}
.description{
    color : gray
}

button.mat-button{
    font-family: Lato;
    color: grey;
    font-size: 110% !important;
    min-width: 15%;
}
.image{
    cursor: pointer;
}

.button{
    background-color: #4CAF50; /* Green */

    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.button:hover{
    background-color: green;
}
.menu{
    display: flex;
    flex-wrap: wrap;
}