<div fxLayout>
  
  <div class="edge" fxFlex="15%"></div>

  <div class="carousel" fxFlex >
    <app-slideshow #slideshow
    (onSlideRight)="nextImage()"
    (onSwipeRight)="nextImage()"
    [autoPlay]="true"
    [showArrows]="true"
    [imageUrls]="images"
    [lazyLoad]="images?.length > 1"
    [autoPlayWaitForLazyLoad]="true"
    [autoPlayInterval]="10000"
    [showCaptions]="true"
    [showDots]="true"
    [dotColor]="'#FFFFFF'">
  </app-slideshow>
  </div>

  <div class="edge" fxFlex="15%"></div>
</div>
  
