.edge{
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 130%;
}


.caption{
    margin-left: 10%;
    margin-right: 10%;
    color:white;
    font-size: 130%
}

.carousel{
    height : 500px
}