.photogravure{
    margin:auto;
}
.description{
    padding-top: 1%;
    padding-bottom: 1%
}
.images{
    text-align: center
}
img{
    width:320px;
    height:240px;
}
.nav-list{
    position: sticky;
    top: 1px;
    align-self: flex-start;
    height: 100%
}

.title{
    font-size:200%
}

.backtop{
    display: none;
    bottom: 10%;
    position: fixed;
    left : 93%;
    color:white;
    background-color: rgb(16,108,200);

}

.card-navlist{padding:0 ! important}