<div class="font">
    <p class="title">Notre équipe</p>
    <p class="subtitle"> Nous formons une équipe expérimentée, qui va vous faire profiter de son savoir faire</p>
</div>
<div class="kind">Photogravure et publication</div>
<div fxLayout="row"  fxLayoutGap="5%" class="portrait">
    <div fxFlex="30%"></div>
    <div fxFlex class="portrait">
            <img src="../../assets/poutine.jpg" class="mat-elevation-z4"/>
            <p class="nom">Vladimir Poutine</p>
            <p class="job">President de la fédération de Russie</p>
    </div>
    <div fxFlex class="portrait">
            <img src="../../assets/macron.jpg" class="mat-elevation-z4"/>
            <p class="nom">Emmanuel Macron</p>
            <p class="job">Président de la France</p>
    </div>
    <div fxFlex class="portrait">
            <img src="../../assets/trump.jpg" class="mat-elevation-z4"/>
            <p class="nom">Donald Trump</p>
            <p class="job">Président des USA</p>
    </div>
    <div fxFlex class="portrait">
            <img src="../../assets/merkel.jpg" class="mat-elevation-z4"/>
            <p class="nom">Angela Merkel</p>
            <p class="job">Chancelière de l'Allemagne</p>
    </div>       
    <div fxFlex="30%"></div>
</div>
<mat-divider class="divider"></mat-divider>
<div class="kind">Informatique éditoriale</div>
<div fxLayout="row"  fxLayoutGap="5%" class="portrait">
        <div fxFlex="30%"></div>
        <div fxFlex class="portrait">
                <img src="../../assets/xijiping.jpg" class="mat-elevation-z4"/>
                <p class="nom">Xi Jinping</p>
                <p class="job">President de la Chine</p>
        </div>
        <div fxFlex class="portrait">
                <img src="../../assets/elisabeth.jpg" class="mat-elevation-z4"/>
                <p class="nom">Elisabeth II</p>
                <p class="job">Reine du Royaume-Uni</p>
        </div>      
        <div fxFlex="30%"></div>
    </div>