@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";
@import url(https://fonts.googleapis.com/css?family=Karla);
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.wrapper{
        display: flex;
        min-height: 100vh;
        flex-direction: column;
}
.body{
    flex: 1;
    font-family: Karla
}